@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.midi-out-device {
  font-family: 'Staatliches', cursive;
  padding: 8px;

  border: 2px solid #358;
  background: #79B;
  color: #333;

  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto 250px 120px;
  justify-content: left;
  align-items: center;
}

/* Add a logo: */
.midi-out-device::before {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #F0F8FF;

  white-space: nowrap;
  content: "Nekoda MIDI Out";

  padding-left: 40px;
  background-image: url('./nekoda.svg');
  background-repeat: no-repeat;
}

/* Device-specific input theme: */
.midi-out-device input, .midi-out-device select {
  border: none;
  color: #FA2;
  background: #310;
}
