@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.unknown-device {
  padding: 8px;
  border: 2px solid #555;
  background: #999;
}

.unknown-device-type {
  font-family: 'Permanent Marker', cursive;

  display: inline-block;
  padding: 0 12px;

  border-radius: 1px;
  border-top-left-radius: 6px;

  background: #FFE;
  border: 2px dashed #EED;
  color: #222;
}

.unknown-device-type::before { content: "Unknown device: " }
