@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap'); */

.basic-synth-device {
  /* font-family: 'Turret Road', cursive; */
  padding: 8px;
  border: 2px solid #000;
  background: darkred;
  color: yellow;
}

.basic-synth-device::before {
  font-family: 'ZCOOL KuaiLe', cursive;

  display: block;
  font-size: 20px;
  font-weight: bold;
  content: "SYNDICATOR v2";
}
