@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('./App.css');
@import url('./components/BasicSynthDevice/BasicSynthDevice.css');
@import url('./components/ControlBar/ControlBar.css');
@import url('./components/Dropdown/Dropdown.css');
@import url('./components/InputLabel/InputLabel.css');
@import url('./components/MidiOutDevice/MidiOutDevice.css');
@import url('./components/NumericInput/NumericInput.css');
@import url('./components/Track/Track.css');
@import url('./components/UnknownDevice/UnknownDevice.css');

* { box-sizing: border-box }

body {
  margin: 0;
  font: 16px 'Open Sans', sans-serif;
  background: #000;
}

/* Chrome ignores the font otherwise... */
body * {
  font-family: inherit;
  font-size: inherit;
}
